In [2]:
#otvorenie datasetu - výsledky olympiády
import pandas as pd
df = pd.read_csv('olympic_results.csv')
df = pd.read_csv('olympic_results.csv')
df

,discipline_title,event_title,slug_game,participant_type,medal_type,athletes,rank_equal,rank_position,country_name,country_code,country_3_letter_code,athlete_url,athlete_full_name,value_unit,value_type
0,Curling,Mixed Doubles,beijing-2022,GameTeam,GOLD,"[('Stefania CONSTANTINI', 'https://olympics.co...",False,1,Italy,IT,ITA,NaN,NaN,NaN,NaN
1,Curling,Mixed Doubles,beijing-2022,GameTeam,SILVER,"[('Kristin SKASLIEN', 'https://olympics.com/en...",False,2,Norway,NO,NOR,NaN,NaN,NaN,NaN
2,Curling,Mixed Doubles,beijing-2022,GameTeam,BRONZE,"[('Almida DE VAL', 'https://olympics.com/en/at...",False,3,Sweden,SE,SWE,NaN,NaN,NaN,NaN
3,Curling,Mixed Doubles,beijing-2022,GameTeam,NaN,"[('Jennifer DODDS', 'https://olympics.com/en/a...",False,4,Great Britain,GB,GBR,NaN,NaN,NaN,NaN
4,Curling,Mixed Doubles,beijing-2022,GameTeam,NaN,"[('Rachel HOMAN', 'https://olympics.com/en/ath...",False,5,Canada,CA,CAN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162799,Ski Jumping,Normal Hill Individual men,chamonix-1924,Athlete,NaN,NaN,NaN,DNS,Poland,PL,POL,https://olympics.com/en/athletes/franciszek-bujak,Franciszek BUJAK,NaN,IRM
162800,Ski Jumping,Normal Hill Individual men,chamonix-1924,Athlete,NaN,NaN,NaN,DNS,Poland,PL,POL,NaN,Henryk Mückenbrunn,NaN,IRM
162801,Ski Jumping,Normal Hill Individual men,chamonix-1924,Athlete,NaN,NaN,NaN,DNS,Czechoslovakia,CSHH,TCH,NaN,Milda Prokopec,NaN,IRM
162802,Ski Jumping,Normal Hill Individual men,chamonix-1924,Athlete,NaN,NaN,NaN,DNS,United States of America,US,USA,NaN,Sigurd Overby,NaN,IRM
162803,Gymnastics Artistic,"26th Federal Festival, Society and Association...",paris-1900,GameTeam,NaN,NaN,NaN,1,France,FR,FRA,NaN,NaN,142 pts,POINTS

In [3]:
#výber stlpcov, ktoré chceme ponechať
selected_columns = [
    'discipline_title', 'slug_game', 'medal_type', 
    'rank_position', 'country_name', 'country_code', 'country_3_letter_code'
]
cleaned_df = df[selected_columns]
cleaned_df

,discipline_title,slug_game,medal_type,rank_position,country_name,country_code,country_3_letter_code
0,Curling,beijing-2022,GOLD,1,Italy,IT,ITA
1,Curling,beijing-2022,SILVER,2,Norway,NO,NOR
2,Curling,beijing-2022,BRONZE,3,Sweden,SE,SWE
3,Curling,beijing-2022,NaN,4,Great Britain,GB,GBR
4,Curling,beijing-2022,NaN,5,Canada,CA,CAN
...,...,...,...,...,...,...,...
162799,Ski Jumping,chamonix-1924,NaN,DNS,Poland,PL,POL
162800,Ski Jumping,chamonix-1924,NaN,DNS,Poland,PL,POL
162801,Ski Jumping,chamonix-1924,NaN,DNS,Czechoslovakia,CSHH,TCH
162802,Ski Jumping,chamonix-1924,NaN,DNS,United States of America,US,USA
162803,Gymnastics Artistic,paris-1900,NaN,1,France,FR,FRA

In [4]:
#chceme získať samostatny stlpec year a stlpec place
#Rozdelenie stĺpca slug_game na dva nové stĺpce place a year
cleaned_df[['place', 'year']] = cleaned_df['slug_game'].str.split('-', expand=True)

#Zmazanie pôvodného stĺpca slug_game
cleaned_df = cleaned_df.drop(columns=['slug_game'])

#Prehodenie stĺpcov tak, aby nové stĺpce boli na správnom mieste
cleaned_df = cleaned_df[['place', 'year'] + selected_columns[0:3] + selected_columns[4:]]

#zistila som, že niektoré stlpce majú hodnoty, ktoré nie sú oddelené pomlčkou, sucks... treba zistiť, čo s tým

ValueError: Columns must be same length as key

In [5]:
# Nájdeme riadky, ktoré nemajú presne jeden výskyt pomlčky
invalid_rows = cleaned_df[cleaned_df['slug_game'].str.count('-') != 1]
print(invalid_rows)
#zisťujeme, že niektoré mestrá majú viac pomlčiek

       discipline_title            slug_game medal_type rank_position  \
54140       Ski Jumping  salt-lake-city-2002       GOLD             1
54141       Ski Jumping  salt-lake-city-2002     SILVER             2
54142       Ski Jumping  salt-lake-city-2002     BRONZE             3
54143       Ski Jumping  salt-lake-city-2002        NaN             4
54144       Ski Jumping  salt-lake-city-2002        NaN             5
...                 ...                  ...        ...           ...
162693    Alpine Skiing     lake-placid-1980        NaN           DSQ
162694    Alpine Skiing     lake-placid-1980        NaN           DNS
162695    Alpine Skiing     lake-placid-1980        NaN           DNS
162696    Alpine Skiing     lake-placid-1980        NaN           DNS
162697    Alpine Skiing     lake-placid-1980        NaN           DNS

                       country_name country_code country_3_letter_code
54140                   Switzerland           CH                   SUI
54141                        Poland           PL                   POL
54142                       Finland           FI                   FIN
54143                       Germany           DE                   GER
54144                       Austria           AT                   AUT
...                             ...          ...                   ...
162693  Federal Republic of Germany           DE                   FRG
162694                      Lebanon          NaN                   LBN
162695                      Lebanon          NaN                   LBN
162696                      Finland           FI                   FIN
162697                 Soviet Union          NaN                   URS

[19398 rows x 7 columns]

In [6]:
#Extrahovanie roku (štvormiestneho čísla) zo stĺpca slug_game - regulérny výraz(regex), výsledok extrakcie bude uložený do nového stlpca year
cleaned_df['year'] = cleaned_df['slug_game'].str.extract(r'(\d{4})')


#Extrahovanie miesta (všetko pred rokom), loc je na prístup k riadkom a stĺpcom v df. dvojbodka (:) označuje, že chcem prístup ku všetkým riadkom
cleaned_df.loc[:, 'place'] = cleaned_df['slug_game'].str.replace(r'-\d{4}', '', regex=True) 

cleaned_df

#je tu nejaké upozornenie, ale neviem, čo s tým, lebo keby tam dám .loc aj k roku, tak to do year napíše "NaN" - ignorujeme to

C:\Users\Diana Fábiková\AppData\Local\Temp\ipykernel_21216\3804928390.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_df['year'] = cleaned_df['slug_game'].str.extract(r'(\d{4})')
C:\Users\Diana Fábiková\AppData\Local\Temp\ipykernel_21216\3804928390.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_df.loc[:, 'place'] = cleaned_df['slug_game'].str.replace(r'-\d{4}', '', regex=True)

,discipline_title,slug_game,medal_type,rank_position,country_name,country_code,country_3_letter_code,year,place
0,Curling,beijing-2022,GOLD,1,Italy,IT,ITA,2022,beijing
1,Curling,beijing-2022,SILVER,2,Norway,NO,NOR,2022,beijing
2,Curling,beijing-2022,BRONZE,3,Sweden,SE,SWE,2022,beijing
3,Curling,beijing-2022,NaN,4,Great Britain,GB,GBR,2022,beijing
4,Curling,beijing-2022,NaN,5,Canada,CA,CAN,2022,beijing
...,...,...,...,...,...,...,...,...,...
162799,Ski Jumping,chamonix-1924,NaN,DNS,Poland,PL,POL,1924,chamonix
162800,Ski Jumping,chamonix-1924,NaN,DNS,Poland,PL,POL,1924,chamonix
162801,Ski Jumping,chamonix-1924,NaN,DNS,Czechoslovakia,CSHH,TCH,1924,chamonix
162802,Ski Jumping,chamonix-1924,NaN,DNS,United States of America,US,USA,1924,chamonix
162803,Gymnastics Artistic,paris-1900,NaN,1,France,FR,FRA,1900,paris

In [7]:
#overila som si, že skutočne mám pekne upravené roky v stlpci year
print(cleaned_df['year'].unique())

['2022' '2020' '2018' '2016' '2014' '2012' '2010' '2008' '2006' '2004'
 '2002' '2000' '1998' '1996' '1994' '1992' '1988' '1984' '1980' '1976'
 '1972' '1968' '1964' '1960' '1956' '1952' '1948' '1936' '1932' '1928'
 '1924' '1920' '1912' '1908' '1904' '1900' '1896']

In [8]:
#zistila som, že nemáme stlpec s tým, či ide o zimnú alebo letnú olympiádu, treba to spojiť s druhou tabuľkou olympic_hosts, kde je samostatný stlpec na season

# Načítanie novej CSV tabuľky
games_df = pd.read_csv('olympic_hosts.csv')

# Spojenie oboch tabuliek na základe game_slug - toto je stlpec, v ktorom majú rovnaké hodnoty
merged_df = pd.merge(cleaned_df, games_df, left_on='slug_game', right_on='game_slug', how='left')

# Zobrazenie výslednej tabuľky
merged_df

,discipline_title,slug_game,medal_type,rank_position,country_name,country_code,country_3_letter_code,year,place,game_slug,game_end_date,game_start_date,game_location,game_name,game_season,game_year
0,Curling,beijing-2022,GOLD,1,Italy,IT,ITA,2022,beijing,beijing-2022,2022-02-20T12:00:00Z,2022-02-04T15:00:00Z,China,Beijing 2022,Winter,2022
1,Curling,beijing-2022,SILVER,2,Norway,NO,NOR,2022,beijing,beijing-2022,2022-02-20T12:00:00Z,2022-02-04T15:00:00Z,China,Beijing 2022,Winter,2022
2,Curling,beijing-2022,BRONZE,3,Sweden,SE,SWE,2022,beijing,beijing-2022,2022-02-20T12:00:00Z,2022-02-04T15:00:00Z,China,Beijing 2022,Winter,2022
3,Curling,beijing-2022,NaN,4,Great Britain,GB,GBR,2022,beijing,beijing-2022,2022-02-20T12:00:00Z,2022-02-04T15:00:00Z,China,Beijing 2022,Winter,2022
4,Curling,beijing-2022,NaN,5,Canada,CA,CAN,2022,beijing,beijing-2022,2022-02-20T12:00:00Z,2022-02-04T15:00:00Z,China,Beijing 2022,Winter,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162799,Ski Jumping,chamonix-1924,NaN,DNS,Poland,PL,POL,1924,chamonix,chamonix-1924,1924-02-05T20:00:00Z,1924-01-25T08:00:00Z,France,Chamonix 1924,Winter,1924
162800,Ski Jumping,chamonix-1924,NaN,DNS,Poland,PL,POL,1924,chamonix,chamonix-1924,1924-02-05T20:00:00Z,1924-01-25T08:00:00Z,France,Chamonix 1924,Winter,1924
162801,Ski Jumping,chamonix-1924,NaN,DNS,Czechoslovakia,CSHH,TCH,1924,chamonix,chamonix-1924,1924-02-05T20:00:00Z,1924-01-25T08:00:00Z,France,Chamonix 1924,Winter,1924
162802,Ski Jumping,chamonix-1924,NaN,DNS,United States of America,US,USA,1924,chamonix,chamonix-1924,1924-02-05T20:00:00Z,1924-01-25T08:00:00Z,France,Chamonix 1924,Winter,1924
162803,Gymnastics Artistic,paris-1900,NaN,1,France,FR,FRA,1900,paris,paris-1900,1900-10-28T19:50:39Z,1900-05-14T08:50:39Z,France,Paris 1900,Summer,1900

In [9]:
#výber stlpcov, ktoré chceme ponechať, keďže tu máme zbytočne opakujúce sa stlpce
selected_columns_final = [
    'discipline_title', 'medal_type', 
    'rank_position', 'country_name', 'country_code', 
    'country_3_letter_code', 'game_slug', 
    'game_location', 'game_name', 'game_season', 'place', 'year'
]
merged_df_final = merged_df[selected_columns_final]
merged_df_final

,discipline_title,medal_type,rank_position,country_name,country_code,country_3_letter_code,game_slug,game_location,game_name,game_season,place,year
0,Curling,GOLD,1,Italy,IT,ITA,beijing-2022,China,Beijing 2022,Winter,beijing,2022
1,Curling,SILVER,2,Norway,NO,NOR,beijing-2022,China,Beijing 2022,Winter,beijing,2022
2,Curling,BRONZE,3,Sweden,SE,SWE,beijing-2022,China,Beijing 2022,Winter,beijing,2022
3,Curling,NaN,4,Great Britain,GB,GBR,beijing-2022,China,Beijing 2022,Winter,beijing,2022
4,Curling,NaN,5,Canada,CA,CAN,beijing-2022,China,Beijing 2022,Winter,beijing,2022
...,...,...,...,...,...,...,...,...,...,...,...,...
162799,Ski Jumping,NaN,DNS,Poland,PL,POL,chamonix-1924,France,Chamonix 1924,Winter,chamonix,1924
162800,Ski Jumping,NaN,DNS,Poland,PL,POL,chamonix-1924,France,Chamonix 1924,Winter,chamonix,1924
162801,Ski Jumping,NaN,DNS,Czechoslovakia,CSHH,TCH,chamonix-1924,France,Chamonix 1924,Winter,chamonix,1924
162802,Ski Jumping,NaN,DNS,United States of America,US,USA,chamonix-1924,France,Chamonix 1924,Winter,chamonix,1924
162803,Gymnastics Artistic,NaN,1,France,FR,FRA,paris-1900,France,Paris 1900,Summer,paris,1900

In [10]:
#export do csv
merged_df_final.to_csv("olympic_data_final.csv")